# Movie recommender system

In [79]:
# Install the packages from here because requirments's file dose't wotk.

#!pip install pandas
#!pip install numpy
#!pip install matplotlib
#!pip install seaborn

**Step 0:** Import the librarys and dataset

In [80]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import ast

In [81]:
url_mov='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv'
url_cred='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv'

movies = pd.read_csv(url_mov)
credits = pd.read_csv(url_cred)

**Step 1**: Explore the dataset

In [82]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [83]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
1811,25000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",NaN,788,"[{""id"": 582, ""name"": ""san francisco""}, {""id"": ...",en,Mrs. Doubtfire,"Loving but irresponsible dad Daniel Hillard, e...",30.884535,"[{""name"": ""Twentieth Century Fox Film Corporat...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1993-11-24,441286195,125.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,She makes dinner. She does windows. She reads ...,Mrs. Doubtfire,7.0,1591
2810,11000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",NaN,2105,"[{""id"": 3687, ""name"": ""graduation""}, {""id"": 61...",en,American Pie,"At a high-school party, four friends find that...",60.767168,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-07-09,235483004,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,There's nothing like your first piece.,American Pie,6.4,2296
2397,17500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 36, ""name...",http://www.metrofilms.com/hotelrwanda/,205,"[{""id"": 971, ""name"": ""rwanda""}, {""id"": 972, ""n...",en,Hotel Rwanda,"Inspired by true events, this film takes place...",28.605420,"[{""name"": ""Lions Gate Films"", ""id"": 35}, {""nam...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2004-09-11,38000000,121.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"When the world closed its eyes, he opened his ...",Hotel Rwanda,7.5,793
1318,15000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 9648, ""n...",http://www.theofficialjohncarpenter.com/the-th...,1091,"[{""id"": 1445, ""name"": ""ice""}, {""id"": 1826, ""na...",en,The Thing,Scientists in the Antarctic are confronted by ...,52.731379,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1982-06-25,19629760,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Man is The Warmest Place to Hide.,The Thing,7.8,1588
2239,20000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",NaN,10740,"[{""id"": 4549, ""name"": ""loss of husband""}, {""id...",en,Birth,It took Anna 10 years to recover from the deat...,7.698075,"[{""name"": ""Fine Line Features"", ""id"": 8}, {""na...","[{""iso_3166_1"": ""FR"", ""name"": ""France""}, {""iso...",2004-09-08,0,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Be careful what you wish for.,Birth,5.9,179
4283,1250000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,28580,"[{""id"": 1333, ""name"": ""desperation""}, {""id"": 2...",en,The Lost Weekend,"Don Birnam, a long-time alcoholic, has been so...",6.903314,"[{""name"": ""Paramount"", ""id"": 6033}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1945-11-25,11000000,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The screen dares to open the strange and savag...,The Lost Weekend,7.4,112
1607,30000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",NaN,9013,"[{""id"": 7340, ""name"": ""crooked lawyer""}, {""id""...",en,Midnight Run,An accountant embezzles $15 million of mob mon...,12.821329,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1988-07-20,38413606,126.0,"[{""iso_639_1"": ""cs"", ""name"": ""\u010cesk\u00fd""...",Released,This could be the beginning of a beautiful fri...,Midnight Run,7.2,238
1704,28000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...",http://www.thebigshortmovie.com/,318846,"[{""id"": 974, ""name"": ""bank""}, {""id"": 4373, ""na...",en,The Big Short,The men who made millions from a global econom...,57.518472,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-12-11,133346506,130.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,This is a true story.,The Big Short,7.3,2607
761,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.righteouskill-themovie.com,13389,"[{""id"": 9748, ""name"": ""revenge""}, {""id"": 9826,...",en,Righteous Kill,Two veteran New York City detectives work to i...,18.380176,"[{""name"": ""Grosvenor Park Media Ltd."", ""id"": 2...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2008-09-11,73174566,101.0,"[{""iso_639_1"": ""ru"", ""name"": ""P\u0443\u0441\u0...",Released,Most people respect the badge. Everybody respe...,Righteous Kill,5.9,375
3427,6500000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,10514,"[{""id"": 1432, ""name"": ""nasa""}, {""id"": 1508, ""n...",en,The Andromeda Strain,When virtually all of the residents of Piedmon...,12.524953,"[{""name"": ""Universal Pictures"", ""id"": 33}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1971-03-12,12376563,131.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The picture runs 130 minutes!... The story cov...,The Andromeda Strain,7.0,190

In [84]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [85]:
credits.sample(10)

,movie_id,title,cast,crew
2607,115,The Big Lebowski,"[{""cast_id"": 12, ""character"": ""The Dude"", ""cre...","[{""credit_id"": ""52fe4219c3a36847f8004109"", ""de..."
797,24438,Did You Hear About the Morgans?,"[{""cast_id"": 1, ""character"": ""Paul Morgan"", ""c...","[{""credit_id"": ""5776cb279251414643001333"", ""de..."
189,86834,Noah,"[{""cast_id"": 4, ""character"": ""Noah"", ""credit_i...","[{""credit_id"": ""53d8b3dec3a3682c43001c39"", ""de..."
3955,100975,Just Looking,"[{""cast_id"": 1, ""character"": ""Hedy Coletti"", ""...","[{""credit_id"": ""52fe49e5c3a36847f81ac595"", ""de..."
3079,67911,Bucky Larson: Born to Be a Star,"[{""cast_id"": 3, ""character"": ""Bucky Larson"", ""...","[{""credit_id"": ""52fe477dc3a368484e0c9c6f"", ""de..."
2299,25195,Leap Year,"[{""cast_id"": 1, ""character"": ""Anna Brady"", ""cr...","[{""credit_id"": ""52fe44bdc3a368484e034131"", ""de..."
3329,45650,The Hole,"[{""cast_id"": 2, ""character"": ""Dane Thompson"", ...","[{""credit_id"": ""52fe46cdc3a36847f8112ec1"", ""de..."
1679,215211,Grace of Monaco,"[{""cast_id"": 1, ""character"": ""Grace Kelly"", ""c...","[{""credit_id"": ""543f83bb0e0a265abf0012cc"", ""de..."
4297,11219,The Trouble with Harry,"[{""cast_id"": 1, ""character"": ""Capt. Albert Wil...","[{""credit_id"": ""52fe44139251416c750280ab"", ""de..."
3267,23570,The Pallbearer,"[{""cast_id"": 1, ""character"": ""Tom Thompson"", ""...","[{""credit_id"": ""561e23c69251410d8f001946"", ""de..."

It is observed that the dataset 'movies' has some missing data in some variables and that some of them have an 'object' data type when they should be categorical. Although, the dataset 'credits' appears to have no missing values, in the sample we see some empty lines (e.g., line 4247).

On the other hand, both tables seem to conform a documentary database, with some arrangements of embedded documents. The relationship between both collections seems to be the id in the movies collection and movie_id in the credits collection.

Next, both collections will be joined considering these ids together with title.

**Step 3:** Merge both dataset

In [86]:
movies = movies.merge(credits, right_on=['movie_id','title'],left_on=['id','title']).drop('movie_id',axis=1)

In [87]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [88]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
3579,3500000,"[{""id"": 10751, ""name"": ""Family""}, {""id"": 18, ""...",NaN,24266,"[{""id"": 802, ""name"": ""regret""}, {""id"": 1261, ""...",en,The Man from Snowy River,Jim Craig has lived his first 18 years in the ...,3.656491,"[{""name"": ""Cambridge Productions"", ""id"": 4293}]",...,20659423,104.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The story of a boy suddenly alone in the world...,The Man from Snowy River,6.8,37,"[{""cast_id"": 1, ""character"": ""Jim Craig"", ""cre...","[{""credit_id"": ""52fe448dc3a368484e029511"", ""de..."
481,80000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 35, ""...",NaN,10715,"[{""id"": 470, ""name"": ""spy""}, {""id"": 1339, ""nam...",en,Looney Tunes: Back in Action,Bugs Bunny and Daffy Duck are up to their feud...,16.715631,"[{""name"": ""Lonely Film Productions GmbH & Co. ...",...,68514844,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Real life has never been so animated.,Looney Tunes: Back in Action,5.6,297,"[{""cast_id"": 1, ""character"": ""DJ Drake / Tasma...","[{""credit_id"": ""591081e3c3a368646b035a32"", ""de..."
4107,2000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,250124,"[{""id"": 1228, ""name"": ""1970s""}, {""id"": 10809, ...",en,The Diary of a Teenage Girl,Minnie Goetze is a 15-year-old aspiring comic-...,18.224326,"[{""name"": ""Caviar Films"", ""id"": 2699}, {""name""...",...,1477002,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Some things are best kept secret.,The Diary of a Teenage Girl,6.8,279,"[{""cast_id"": 5, ""character"": ""Minnie Goetze"", ...","[{""credit_id"": ""5643c38b9251410a3f003330"", ""de..."
1572,30000000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://www.forgettingsarahmarshall.com/,9870,"[{""id"": 1668, ""name"": ""hawaii""}, {""id"": 2864, ...",en,Forgetting Sarah Marshall,When Sarah Marshall dumps aspiring musician Pe...,50.670253,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,105173115,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,"You lose some, you get some.",Forgetting Sarah Marshall,6.4,1172,"[{""cast_id"": 10, ""character"": ""Peter Bretter"",...","[{""credit_id"": ""52fe453bc3a36847f80c3487"", ""de..."
4221,1500000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...",NaN,4174,"[{""id"": 1453, ""name"": ""amnesia""}, {""id"": 4924,...",en,Spellbound,When Dr. Anthony Edwardes arrives at a Vermont...,11.145915,"[{""name"": ""Selznick International Pictures"", ""...",...,7000000,111.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The maddest love that ever possessed a woman.,Spellbound,7.3,160,"[{""cast_id"": 7, ""character"": ""Dr. Constance Pe...","[{""credit_id"": ""52fe43b0c3a36847f8067e55"", ""de..."
2573,0,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,10413,"[{""id"": 1563, ""name"": ""prisoner""}, {""id"": 1721...",en,Nowhere to Run,Escaped convict Sam Gillen single handedly tak...,11.689337,"[{""name"": ""Columbia Pictures"", ""id"": 5}]",...,0,94.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"When the law can't protect the innocent, the ...",Nowhere to Run,5.5,119,"[{""cast_id"": 1, ""character"": ""Sam Gillen"", ""cr...","[{""credit_id"": ""52fe436a9251416c7500f789"", ""de..."
2374,25000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",http://www.maoslastdancermovie.com/,33870,"[{""id"": 4328, ""name"": ""costume""}, {""id"": 4528,...",en,Mao's Last Dancer,"At the age of 11, Li was plucked from a poor C...",1.876811,"[{""name"": ""Great Scott Productions Pty. Ltd."",...",...,20719451,117.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,最后的舞者,Mao's Last Dancer,6.8,28,"[{""cast_id"": 2, ""character"": ""Li Cunxin - adul...","[{""credit_id"": ""52fe45419251416c9102c18d"", ""de..."
459,80000000,"[{""id"": 37, ""name"": ""Western""}, {""id"": 16, ""na...",NaN,9023,"[{""id"": 3714, ""name"": ""human being""}, {""id"": 6...",en,Spirit: Stallion of the Cimarron,As a wild stallion travels across the frontier...,41.670544,"[{""name"": ""DreamWorks SKG"", ""id"": 27}, {""name""...",...,122563539,83.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Leader. Hero. Legend.,Spirit: Stallion of the Cimarron,7.4,831,"[{""cast_id"": 1, ""character"": ""Spirit (voice)"",...","[{""credit_id"": ""52fe44d2c3a36847f80ac171"", ""de..."
2087,20000000,"[{""id"": 878, ""name"": ""Science Fiction""}, {""id""...",NaN,840,"[{""id"": 1447, ""name"": ""indiana""}, {""id"": 1523,...",en,Close Encounters of the Third Kind,"After an encounter with UFOs, a line worker fe...",52.456505,"[{""name"": ""Columbia Pictures Corporation"", ""id...",...,303788635,135.0,"[{""iso_639_1"": ""hi"", ""name"": ""\u0939\u093f\u09...",Released,We are not alone.,Close Encounters of the Third Kind,7.2,1098,"[{""cast_id"": 14, ""character"": ""Roy Neary"", ""cr...","[{""credit_id"": ""52fe427ec3a36847f802346b"", ""de..."
1385,35000000,"[{""id"": 35, ""name"": ""Comedy""}]",http://www.neighbors-movie.com/,325133,"[{""id"": 567, ""name"": ""alcohol""}, {""id"": 3616, ...",en,Neighbors 2: Sorority Rising,A sorority moves in next door to the home of M...,50.179171,"[{""name"": ""Universal Pictures"", ""id"": 33}, {""n...",...,108758521,91.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,New neighbors.,Neighbors 2: Sorority Rising,5.6,1462,"[{""cast_id"": 1, ""character"": ""Mac Radner"", ""cr...","[{""credit_id"": ""57337f1092514140bd000a3b"", ""de..."

**Step 4**: select the variables to be used.

In [89]:
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [90]:
movies.sample(10)

,id,title,overview,genres,keywords,cast,crew
2361,68924,The Ice Storm,In the weekend after thanksgiving 1973 the Hoo...,"[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","[{""cast_id"": 4, ""character"": ""Ben Hood"", ""cred...","[{""credit_id"": ""55566554c3a3687772003911"", ""de..."
4439,157354,Fruitvale Station,"The true story of Oscar, a 22-year-old Bay Are...","[{""id"": 18, ""name"": ""Drama""}]","[{""id"": 796, ""name"": ""police brutality""}, {""id...","[{""cast_id"": 3, ""character"": ""Oscar"", ""credit_...","[{""credit_id"": ""52fe4bc19251416c910e4ba5"", ""de..."
67,15512,Monsters vs Aliens,When Susan Murphy is unwittingly clobbered by ...,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 9951, ""name"": ""alien""}, {""id"": 10891, ...","[{""cast_id"": 8, ""character"": ""B.O.B. (voice)"",...","[{""credit_id"": ""52fe46639251416c75076a45"", ""de..."
2357,38665,The Legend of the Lone Ranger,"When the young Texas Ranger, John Reid, is the...","[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 178867, ""name"": ""lone ranger""}, {""id"":...","[{""cast_id"": 4, ""character"": ""Maj. Bartholomew...","[{""credit_id"": ""52fe46ce9251416c910605f3"", ""de..."
2065,81836,To Rome with Love,Four tales unfold in the Eternal City: While v...,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...","[{""id"": 588, ""name"": ""rome""}, {""id"": 156063, ""...","[{""cast_id"": 3, ""character"": ""Shannon"", ""credi...","[{""credit_id"": ""52fe482e9251416c910830d7"", ""de..."
4050,756,Fantasia,Walt Disney's timeless masterpiece is an extra...,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...","[{""id"": 3537, ""name"": ""orchestra""}, {""id"": 578...","[{""cast_id"": 14, ""character"": ""Narrator - Narr...","[{""credit_id"": ""52fe4272c3a36847f801f2e7"", ""de..."
2332,5279,Gosford Park,"Multiple storylined drama set in 1932, showing...","[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...","[{""id"": 964, ""name"": ""servant""}, {""id"": 10594,...","[{""cast_id"": 2, ""character"": ""Mrs. Wilson"", ""c...","[{""credit_id"": ""52fe4401c3a36847f807ceab"", ""de..."
3599,26748,Lone Star,When the skeleton of his murdered predecessor ...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 9648, ""na...","[{""id"": 798, ""name"": ""sheriff""}, {""id"": 6625, ...","[{""cast_id"": 1, ""character"": ""Sam Deeds"", ""cre...","[{""credit_id"": ""52fe4517c3a368484e047eab"", ""de..."
3694,9336,Police Academy,New rules enforced by the Lady Mayoress mean t...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...","[{""id"": 1482, ""name"": ""trainer""}, {""id"": 2999,...","[{""cast_id"": 1, ""character"": ""Cadet Carey Maho...","[{""credit_id"": ""52fe44e9c3a36847f80b1637"", ""de..."
3019,9526,A Prairie Home Companion,A look at what goes on backstage during the la...,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...","[{""id"": 279, ""name"": ""usa""}, {""id"": 727, ""name...","[{""cast_id"": 12, ""character"": ""Yolanda Johnson...","[{""credit_id"": ""52fe4504c3a36847f80b774d"", ""de..."

**Step 5**: explore the final variables

In [91]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4803 non-null   int64
 1   title     4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
 5   cast      4803 non-null   object
 6   crew      4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [92]:
movies.isna().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

'Overview' is the only variable that has missing values. Since it has only three NaN and I cannot guess or estimate what value it would have had, I will remove these three observations.

In [93]:
movies.dropna(inplace=True)
movies.reset_index(inplace=True)
movies.isna().sum()

index       0
id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

**Step 6**: transform the dataset from json to a tabular format

In [94]:
# function to extraxt the name from any dict

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [95]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [96]:
# function that extract the first three items from a dict
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [97]:
movies['cast'] = movies['cast'].apply(convert3)

In [98]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
2225,2225,171274,Inherent Vice,"In Los Angeles at the turn of the 1970s, drug-...","[Comedy, Romance, Crime, Drama, Mystery]","[based on novel, 1970s, private investigator, ...","[Joaquin Phoenix, Josh Brolin, Owen Wilson]","[{""credit_id"": ""5319bba7c3a3685c31002d5e"", ""de..."
793,793,889,The Flintstones in Viva Rock Vegas,The Flintstones are at it again. The Flintston...,"[Science Fiction, Comedy, Family, Romance]","[waitress, marriage proposal, flirt, stone age...","[Mark Addy, Stephen Baldwin, Kristen Johnston]","[{""credit_id"": ""52fe4288c3a36847f80263c5"", ""de..."
159,159,557,Spider-Man,After being bitten by a genetically altered sp...,"[Fantasy, Action]","[loss of lover, spider, thanksgiving, bad boss...","[Tobey Maguire, Willem Dafoe, Kirsten Dunst]","[{""credit_id"": ""52fe4251c3a36847f8014f01"", ""de..."
907,907,2022,Mr. Deeds,"When Longfellow Deeds, a small-town pizzeria o...","[Comedy, Romance]","[love letter, new hampshire, ferrari, liar, ci...","[Adam Sandler, Winona Ryder, John Turturro]","[{""credit_id"": ""52fe432dc3a36847f8040377"", ""de..."
802,802,87428,That's My Boy,"While in his teens, Donny fathered a son, Todd...",[Comedy],"[deadbeat dad, cheating fiancée, teacher stude...","[Adam Sandler, Susan Sarandon, Eva Amurri Mart...","[{""credit_id"": ""52fe49c49251416c910b8207"", ""de..."

In [99]:
# function to extract only the Director's name

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [100]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [101]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [102]:
#function to split the string by space with a comma
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [103]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
4106,4107,250124,The Diary of a Teenage Girl,"[Minnie, Goetze, is, a, 15-year-old, aspiring,...","[Drama, Romance]","[1970s, teenage girl, older man younger woman ...","[Bel Powley, Kristen Wiig, Alexander Skarsgård]",[Marielle Heller]
2344,2344,1578,Raging Bull,"[When, Jake, LaMotta, steps, into, a, boxing, ...",[Drama],"[transporter, jealousy, violent husband, paran...","[Robert De Niro, Joe Pesci, Cathy Moriarty]",[Martin Scorsese]
4708,4711,178862,Aroused,"[Get, up, close, and, personal, with, 16, of, ...",[Documentary],"[pornography, interview, biography, photograph...","[Lisa Ann, Kayden Kross, Belladonna]",[Deborah Anderson]
4761,4764,326576,Dawn of the Crescent Moon,"[A, group, of, college, students, travel, to, ...","[Thriller, Drama, Science Fiction]",[],"[Barry Corbin, Brooke Coleman, Kurt Cole]",[Kirk Loudon]
2604,2604,13539,Here On Earth,"[A, rich, college, kid, is, taught, a, lesson,...",[Romance],"[car race, private school, diner]","[Leelee Sobieski, Chris Klein, Josh Hartnett]",[Mark Piznarski]

**Step 7**: remove the space from all the strings except title

In [104]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [105]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [106]:
movies.sample(10)

,index,id,title,overview,genres,keywords,cast,crew
3384,3385,25388,March or Die,"[The, French, Foreign, Legion,, in, the, early...","[Action, Adventure, Drama, War]","[gypsy, middleeast, foreignlegion, wilderness,...","[GeneHackman, TerenceHill, CatherineDeneuve]",[DickRichards]
915,915,9441,Stepmom,"[Jackie, is, a, divorced, mother, of, two., Is...","[Drama, Romance]","[divorce, rebelliousdaughter, freezeframe, cus...","[JuliaRoberts, SusanSarandon, EdHarris]",[ChrisColumbus]
3345,3346,57119,Jumping the Broom,"[Two, very, different, families, converge, on,...",[Comedy],"[africanamerican, wedding, classdifferences, m...","[PaulaPatton, JulieBowen, MeaganGood]",[SalimAkil]
584,584,10395,Wolf,"[Publisher, Will, Randall, becomes, a, werewol...",[Fantasy],"[adultery, heal, bite, werewolf]","[JackNicholson, ChristopherPlummer, JamesSpader]",[MikeNichols]
4374,4376,192132,Palo Alto,"[Palo, Alto, weaves, together, three, stories,...",[Drama],"[highschool, soccer, teenager, oldermanyounger...","[EmmaRoberts, JackKilmer, NatWolff]",[GiaCoppola]
3382,3383,33676,Losin' It,"[Set, in, 1965,, four, Los, Angeles, school, f...",[Comedy],"[malenudity, femalenudity, mexico, prostitute,...","[TomCruise, JackieEarleHaley, JohnStockwell]",[CurtisHanson]
3975,3976,325173,Close Range,"[A, rogue, soldier, turned, outlaw, is, thrust...","[Crime, Action]",[],"[ScottAdkins, NickChinlund, CaitlinKeats]",[IsaacFlorentine]
3166,3167,10585,Child's Play,"[A, single, mother, gives, her, son, a, belove...","[Horror, Thriller]","[gun, birthday, voodoo, toy, stalker, murder, ...","[CatherineHicks, ChrisSarandon, AlexVincent]",[TomHolland]
2512,2512,12154,Three Men and a Baby,"[Three, bachelors, find, themselves, forced, t...","[Family, Comedy, Drama]","[baby, roommate, bachelor, party, windeln, sol...","[TomSelleck, SteveGuttenberg, TedDanson]",[LeonardNimoy]
3938,3939,246403,Tusk,"[When, his, best, friend, and, podcast, co-hos...","[Comedy, Horror]","[canada, obsession, walrus, deception, search,...","[MichaelParks, JustinLong, HaleyJoelOsment]",[KevinSmith]