# Movie recommender system

In [64]:
# Install the packages from here because requirments's file dose't wotk.

!pip install pandas
!pip install numpy
!pip install matplotlib
!pip install seaborn
!pip install sklearn

Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (1.4.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas) (1.23.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (1.23.1)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: matplotlib in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (3.5.2)
Requirement already satisfied: numpy>=1.17 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (1.23.1)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (4.34.4)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (21.3)
Requirement already satisfied: pillow>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: seaborn in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (0.11.2)
Requirement already satisfied: matplotlib>=2.2 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (3.5.2)
Requirement already satisfied: scipy>=1.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.9.0)
Requirement already satisfied: pandas>=0.23 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.4.3)
Requirement already satisfied: numpy>=1.15 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from seaborn) (1.23.1)
Requirement already satisfied: packaging>=20.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (21.3)
Requirement already satisfied: cycler>=0.10 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (4.34.4)
Requirement already satisfied: pillow>=6.2.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (9.2.0)
Requirement already satisfied: pyparsing>=2.2.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from matplotlib>=2.2->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas>=0.23->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.7->matplotlib>=2.2->seaborn) (1.16.0)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: sklearn in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (0.0)
Requirement already satisfied: scikit-learn in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from sklearn) (1.1.1)
Requirement already satisfied: joblib>=1.0.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.1.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: scipy>=1.3.2 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.9.0)
Requirement already satisfied: numpy>=1.17.3 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from scikit-learn->sklearn) (1.23.1)

[notice] A new release of pip available: 22.2 -> 22.2.2
[notice] To update, run: pip install --upgrade pip

**Step 0:** Import the librarys and dataset

In [65]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

import ast
import sklearn
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [66]:
url_mov='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_movies.csv'
url_cred='https://raw.githubusercontent.com/4GeeksAcademy/k-nearest-neighbors-project-tutorial/main/tmdb_5000_credits.csv'

movies = pd.read_csv(url_mov)
credits = pd.read_csv(url_cred)

**Step 1**: Explore the dataset

In [67]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 20 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
dtypes: float64(3), int64(4), object(13)
memory usage: 750.6+ KB

In [68]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
2181,19000000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 28, ""nam...",http://www.miramax.com/movie/from-dusk-till-dawn/,755,"[{""id"": 246, ""name"": ""dancing""}, {""id"": 380, ""...",en,From Dusk Till Dawn,Seth Gecko and his younger brother Richard are...,64.181668,"[{""name"": ""A Band Apart"", ""id"": 59}, {""name"": ...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1996-01-19,25836616,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,One night is all that stands between them and ...,From Dusk Till Dawn,6.9,1603
3536,4361898,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10749, ""...",http://mamboitaliano.ca/,321,"[{""id"": 237, ""name"": ""gay""}, {""id"": 494, ""name...",en,Mambo Italiano,A sweet comic film about an Italian man who co...,2.080741,"[{""name"": ""icon"", ""id"": 4096}]","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}]",2003-06-06,3031801,92.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Things change. Family doesn't.,Mambo Italiano,5.6,28
264,107000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,8489,"[{""id"": 279, ""name"": ""usa""}, {""id"": 396, ""name...",en,Ali,"In 1964, a brash new pro boxer, fresh from his...",18.866672,"[{""name"": ""Columbia Pictures Corporation"", ""id...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2001-12-11,87713825,157.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Float like a butterfly and sting like a bee.,Ali,6.7,447
4465,780000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",NaN,10105,"[{""id"": 1442, ""name"": ""winter""}, {""id"": 1690, ...",en,Saints and Soldiers,Five American soldiers fighting in Europe duri...,6.003418,"[{""name"": ""Excel Entertainment"", ""id"": 2934}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2003-09-11,0,90.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,NaN,Saints and Soldiers,6.6,98
2779,0,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 10749, ""n...",NaN,44853,[],en,The Claim,A prospector sells his wife and daughter to an...,2.996284,"[{""name"": ""Revolution Films"", ""id"": 163}, {""na...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2000-12-29,0,120.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Everything has a price.,The Claim,5.6,17
1479,50000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.exitwounds.net/,10877,"[{""id"": 417, ""name"": ""corruption""}, {""id"": 369...",en,Exit Wounds,Maverick cop Orin Boyd always brings down the ...,12.601306,"[{""name"": ""Village Roadshow Pictures"", ""id"": 7...","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2001-03-13,79958599,101.0,"[{""iso_639_1"": ""it"", ""name"": ""Italiano""}]",Released,This Is Gonna Hurt,Exit Wounds,5.3,110
3877,3200000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 18, ""nam...",NaN,805,"[{""id"": 8685, ""name"": ""anti-christ""}, {""id"": 1...",en,Rosemary's Baby,A young couple moves into an infamous New York...,26.180367,"[{""name"": ""Paramount Pictures"", ""id"": 4}, {""na...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1968-06-12,33395426,136.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Pray for Rosemary's Baby,Rosemary's Baby,7.5,863
3821,3800000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 35, ""name...",http://www.thegoodheartfilm.com/,5178,"[{""id"": 582, ""name"": ""san francisco""}, {""id"": ...",en,The Good Heart,"Brian Cox stars as Jacques, the curmudgeonly o...",2.201678,"[{""name"": ""Nimbus Film Productions"", ""id"": 116...","[{""iso_3166_1"": ""DK"", ""name"": ""Denmark""}, {""is...",2009-09-11,0,95.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Everyone needs a refuge from the world.,The Good Heart,6.0,21
3000,10000000,"[{""id"": 18, ""name"": ""Drama""}, {""id"": 27, ""name...",NaN,280092,"[{""id"": 9663, ""name"": ""sequel""}]",en,Insidious: Chapter 3,A twisted new tale of terror begins for a teen...,45.946524,"[{""name"": ""Sony Pictures"", ""id"": 34}]","[{""iso_3166_1"": ""CA"", ""name"": ""Canada""}, {""iso...",2015-06-04,104303851,97.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,This is how you die,Insidious: Chapter 3,6.2,983
3033,25000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",NaN,9455,"[{""id"": 242, ""name"": ""new york""}, {""id"": 314, ...",en,The Corruptor,"Danny is a young cop partnered with Nick, a se...",4.068107,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",1999-03-12,15156200,110.0,"[{""iso_639_1"": ""cn"", ""name"": ""\u5e7f\u5dde\u8b...",Released,You can't play by the rules if there aren't any.,The Corruptor,6.0,57

In [69]:
credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   movie_id  4803 non-null   int64
 1   title     4803 non-null   object
 2   cast      4803 non-null   object
 3   crew      4803 non-null   object
dtypes: int64(1), object(3)
memory usage: 150.2+ KB

In [70]:
credits.sample(10)

,movie_id,title,cast,crew
2841,31915,Prophecy,"[{""cast_id"": 2, ""character"": ""Maggie Verne"", ""...","[{""credit_id"": ""54f1264bc3a368323500071e"", ""de..."
1844,75174,The Grey,"[{""cast_id"": 4, ""character"": ""John Ottway"", ""c...","[{""credit_id"": ""52fe48f3c3a368484e11337d"", ""de..."
3259,15049,Bon Cop Bad Cop,"[{""cast_id"": 11, ""character"": ""David Bouchard""...","[{""credit_id"": ""5308e31c925141111a002106"", ""de..."
933,6038,Shanghai Knights,"[{""cast_id"": 1, ""character"": ""Chon Wang"", ""cre...","[{""credit_id"": ""55a675c2c3a36845a900000f"", ""de..."
4420,84178,Black Rock,"[{""cast_id"": 1, ""character"": ""Sarah"", ""credit_...","[{""credit_id"": ""52fe48de9251416c9109ae59"", ""de..."
1634,8978,Assault on Precinct 13,"[{""cast_id"": 8, ""character"": ""Sergeant Jake Ro...","[{""credit_id"": ""5399a25ec3a3681d1b00188f"", ""de..."
3521,57022,Sunshine State,"[{""cast_id"": 2, ""character"": ""Murray Silver"", ...","[{""credit_id"": ""52fe4921c3a36847f818a79b"", ""de..."
2901,50601,5 Days of War,"[{""cast_id"": 2, ""character"": ""Thomas Anders"", ...","[{""credit_id"": ""52fe47cec3a36847f814930f"", ""de..."
4022,84329,Robot & Frank,"[{""cast_id"": 2, ""character"": ""Frank"", ""credit_...","[{""credit_id"": ""52fe48eb9251416c9109cb23"", ""de..."
4725,34101,Hollywood Shuffle,"[{""cast_id"": 1, ""character"": ""Bobby Taylor"", ""...","[{""credit_id"": ""553fd444c3a3683c69000077"", ""de..."

It is observed that the dataset 'movies' has some missing data in some variables and that some of them have an 'object' data type when they should be categorical. Although, the dataset 'credits' appears to have no missing values, in the sample we see some empty lines (e.g., line 4247).

On the other hand, both tables seem to conform a documentary database, with some arrangements of embedded documents. The relationship between both collections seems to be the id in the movies collection and movie_id in the credits collection.

Next, both collections will be joined considering these ids together with title.

**Step 3:** Merge both dataset

In [71]:
movies = movies.merge(credits, right_on=['movie_id','title'],left_on=['id','title']).drop('movie_id',axis=1)

In [72]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   budget                4803 non-null   int64
 1   genres                4803 non-null   object
 2   homepage              1712 non-null   object
 3   id                    4803 non-null   int64
 4   keywords              4803 non-null   object
 5   original_language     4803 non-null   object
 6   original_title        4803 non-null   object
 7   overview              4800 non-null   object
 8   popularity            4803 non-null   float64
 9   production_companies  4803 non-null   object
 10  production_countries  4803 non-null   object
 11  release_date          4802 non-null   object
 12  revenue               4803 non-null   int64
 13  runtime               4801 non-null   float64
 14  spoken_languages      4803 non-null   object
 15  status                4803 non-null   object
 16  tagline               3959 non-null   object
 17  title                 4803 non-null   object
 18  vote_average          4803 non-null   float64
 19  vote_count            4803 non-null   int64
 20  cast                  4803 non-null   object
 21  crew                  4803 non-null   object
dtypes: float64(3), int64(4), object(15)
memory usage: 863.0+ KB

In [73]:
movies.sample(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew
2028,22000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,235260,"[{""id"": 5565, ""name"": ""biography""}, {""id"": 650...",en,Son of God,The life story of Jesus is told from his humbl...,9.175762,"[{""name"": ""Hearst Entertainment Productions"", ...",...,67800064,138.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Their Empire. His Kingdom.,Son of God,5.9,83,"[{""cast_id"": 4, ""character"": ""Mary, Mother of ...","[{""credit_id"": ""55c4f998c3a36856a7000494"", ""de..."
2127,0,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 35, ""...",NaN,1649,"[{""id"": 2964, ""name"": ""future""}, {""id"": 3737, ...",en,Bill & Ted's Bogus Journey,Amiable slackers Bill and Ted are once again r...,11.349664,"[{""name"": ""Orion Pictures"", ""id"": 41}, {""name""...",...,0,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Once... they made history. Now... they are his...,Bill & Ted's Bogus Journey,5.9,308,"[{""cast_id"": 1, ""character"": ""Ted Logan"", ""cre...","[{""credit_id"": ""52fe4308c3a36847f803571f"", ""de..."
1614,30000000,"[{""id"": 10402, ""name"": ""Music""}]",NaN,12763,"[{""id"": 1342, ""name"": ""dancing master""}, {""id""...",en,Take the Lead,A former professional dancer volunteers to tea...,8.999675,"[{""name"": ""New Line Cinema"", ""id"": 12}, {""name...",...,34742066,108.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Never Follow,Take the Lead,6.6,162,"[{""cast_id"": 1, ""character"": ""Pierre Dulaine"",...","[{""credit_id"": ""556add5cc3a36826f80011db"", ""de..."
1634,30000000,"[{""id"": 53, ""name"": ""Thriller""}]",NaN,8978,"[{""id"": 726, ""name"": ""drug abuse""}, {""id"": 166...",en,Assault on Precinct 13,"On New Year's Eve, inside a police station tha...",18.706504,"[{""name"": ""Rogue Pictures"", ""id"": 134}, {""name...",...,35294470,109.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Unite and fight.,Assault on Precinct 13,6.0,311,"[{""cast_id"": 8, ""character"": ""Sergeant Jake Ro...","[{""credit_id"": ""5399a25ec3a3681d1b00188f"", ""de..."
4496,60000,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 9648, ""n...",http://www.blairwitch.com/,2667,"[{""id"": 616, ""name"": ""witch""}, {""id"": 3392, ""n...",en,The Blair Witch Project,In October of 1994 three student filmmakers di...,41.690578,"[{""name"": ""Artisan Entertainment"", ""id"": 2188}...",...,248000000,81.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The scariest movie of all time is a true story.,The Blair Witch Project,6.3,1055,"[{""cast_id"": 41, ""character"": ""Mike"", ""credit_...","[{""credit_id"": ""52fe4364c3a36847f8050c01"", ""de..."
4196,1700000,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 80, ""nam...",NaN,24066,"[{""id"": 1415, ""name"": ""small town""}, {""id"": 15...",en,"Happy, Texas",Two escaped convicts roll into the village of ...,2.079125,"[{""name"": ""Miramax Films"", ""id"": 14}, {""name"":...",...,1943649,98.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Escaped convicts disguised as beauty pageant e...,"Happy, Texas",5.5,39,"[{""cast_id"": 1, ""character"": ""Wayne Wayne Wayn...","[{""credit_id"": ""52fe4480c3a368484e026aaf"", ""de..."
767,60000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/xxxstateoft...,11679,"[{""id"": 521, ""name"": ""washington d.c.""}, {""id""...",en,xXx: State of the Union,"Ice Cube stars as Darius Stone, a thrill-seeki...",36.689223,"[{""name"": ""Original Film"", ""id"": 333}, {""name""...",...,71073932,101.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Prepare for the next level,xXx: State of the Union,4.7,549,"[{""cast_id"": 13, ""character"": ""Darius Stone / ...","[{""credit_id"": ""5578b667c3a3682a7500041a"", ""de..."
2421,20000000,"[{""id"": 18, ""name"": ""Drama""}]",NaN,13960,[],en,ATL,As four friends prepare for life after high sc...,5.422285,"[{""name"": ""Warner Bros."", ""id"": 6194}]",...,21170563,105.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New American Story,ATL,6.0,32,"[{""cast_id"": 1, ""character"": ""Rashad"", ""credit...","[{""credit_id"": ""58decefb9251415e7f00047e"", ""de..."
3510,0,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 35, ...",NaN,183894,[],en,Emma,"Emma Woodhouse seems to be perfectly content, ...",2.135689,[],...,0,240.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,Emma,7.6,38,"[{""cast_id"": 3, ""character"": ""Emma"", ""credit_i...","[{""credit_id"": ""52fe4caf9251416c7512245b"", ""de..."
1360,0,"[{""id"": 18, ""name"": ""Drama""}]",http://therebedragonsmovie.com/,45054,"[{""id"": 5509, ""name"": ""spanish civil war""}, {""...",en,There Be Dragons,Arising out of the horror of the Spanish Civil...,6.668679,[],...,0,112.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,NaN,There Be Dragons,5.9,27,"[{""cast_id"": 5, ""character"": ""Josemar\u00eda"",...","[{""credit_id"": ""52fe46acc3a36847f810c013"", ""de..."

**Step 4**: select the variables to be used.

In [74]:
movies = movies[['id','title','overview','genres','keywords','cast','crew']]

In [75]:
movies.sample(10)

,id,title,overview,genres,keywords,cast,crew
3286,30141,The Singing Detective,"From his hospital bed, a writer suffering from...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 10402, ""...",[],"[{""cast_id"": 1, ""character"": ""Dan Dark"", ""cred...","[{""credit_id"": ""5587ce1c92514179f600371e"", ""de..."
4064,6007,Elling,"When his mother, who has sheltered him his ent...","[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 791, ""name"": ""mentally disabled""}]","[{""cast_id"": 1, ""character"": ""Elling"", ""credit...","[{""credit_id"": ""52fe4436c3a36847f8088b99"", ""de..."
950,9631,The Negotiator,The police try to arrest expert hostage negoti...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...","[{""id"": 417, ""name"": ""corruption""}, {""id"": 156...","[{""cast_id"": 14, ""character"": ""Lt. Danny Roman...","[{""credit_id"": ""52fe4514c3a36847f80bb20d"", ""de..."
3756,47816,3 Strikes,Brian Hooks plays a character who is just rele...,"[{""id"": 28, ""name"": ""Action""}, {""id"": 35, ""nam...","[{""id"": 6075, ""name"": ""sport""}]","[{""cast_id"": 3, ""character"": ""Rob Douglas"", ""c...","[{""credit_id"": ""52fe4748c3a36847f812cee5"", ""de..."
3383,33676,Losin' It,"Set in 1965, four Los Angeles school friends -...","[{""id"": 35, ""name"": ""Comedy""}]","[{""id"": 255, ""name"": ""male nudity""}, {""id"": 29...","[{""cast_id"": 1, ""character"": ""Woody"", ""credit_...","[{""credit_id"": ""52fe452e9251416c9102a291"", ""de..."
4584,189711,Love in the Time of Monsters,Two sisters travel to a cheesy tourist trap wh...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 35, ""nam...",[],"[{""cast_id"": 1, ""character"": ""Lou"", ""credit_id...","[{""credit_id"": ""52fe4d609251416c751392bb"", ""de..."
2791,59457,Womb,A woman's consuming love forces her to bear th...,"[{""id"": 10749, ""name"": ""Romance""}, {""id"": 878,...",[],"[{""cast_id"": 3, ""character"": ""Rebecca"", ""credi...","[{""credit_id"": ""591009b8c3a36864d402c9c1"", ""de..."
3978,351043,Amnesiac,The story of a man who wakes up in bed sufferi...,"[{""id"": 53, ""name"": ""Thriller""}, {""id"": 9648, ...",[],"[{""cast_id"": 1, ""character"": ""Woman"", ""credit_...","[{""credit_id"": ""55b040b69251411e0b00d184"", ""de..."
2088,9682,Pulse,When their computer hacker friend accidentally...,"[{""id"": 27, ""name"": ""Horror""}, {""id"": 53, ""nam...","[{""id"": 236, ""name"": ""suicide""}, {""id"": 2157, ...","[{""cast_id"": 1, ""character"": ""Mattie"", ""credit...","[{""credit_id"": ""52fe451bc3a36847f80bcbff"", ""de..."
3864,13973,Choke,A sex-addicted con-man pays for his mother's h...,"[{""id"": 35, ""name"": ""Comedy""}, {""id"": 18, ""nam...","[{""id"": 3688, ""name"": ""strip club""}, {""id"": 59...","[{""cast_id"": 3, ""character"": ""Victor Mancini"",...","[{""credit_id"": ""56191f26925141375a0027db"", ""de..."

**Step 5**: explore the final variables

In [76]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4803 entries, 0 to 4802
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        4803 non-null   int64
 1   title     4803 non-null   object
 2   overview  4800 non-null   object
 3   genres    4803 non-null   object
 4   keywords  4803 non-null   object
 5   cast      4803 non-null   object
 6   crew      4803 non-null   object
dtypes: int64(1), object(6)
memory usage: 300.2+ KB

In [77]:
movies.isna().sum()

id          0
title       0
overview    3
genres      0
keywords    0
cast        0
crew        0
dtype: int64

'Overview' is the only variable that has missing values. Since it has only three NaN and I cannot guess or estimate what value it would have had, I will remove these three observations.

In [78]:
movies.dropna(inplace=True)
movies.reset_index(inplace=True)
movies.isna().sum()

index       0
id          0
title       0
overview    0
genres      0
keywords    0
cast        0
crew        0
dtype: int64

**Step 6**: transform the dataset from json to a tabular format

In [79]:
# function to extraxt the name from any dict

def convert(obj):
    L = []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [80]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [81]:
# function that extract the first three items from a dict
def convert3(obj):
    L = []
    count = 0
    for i in ast.literal_eval(obj):
        if count < 3:
            L.append(i['name'])
        count +=1  
    return L

In [82]:
movies['cast'] = movies['cast'].apply(convert3)

In [83]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
900,900,38050,The Adjustment Bureau,A man glimpses the future Fate has planned for...,"[Science Fiction, Thriller, Romance]","[hotel, dancer, hat, senator, future, honesty,...","[Matt Damon, Emily Blunt, John Slattery]","[{""credit_id"": ""52fe468e9251416c9105830f"", ""de..."
540,540,11375,Hollywood Homicide,Joe Gavilan (Harrison Ford) and his new partne...,"[Action, Adventure, Comedy, Thriller]","[rap music, hitman]","[Harrison Ford, Josh Hartnett, Lena Olin]","[{""credit_id"": ""52fe44339251416c7502c5d7"", ""de..."
3555,3556,333371,10 Cloverfield Lane,"After a car accident, Michelle awakens to find...","[Thriller, Science Fiction, Drama]","[kidnapping, bunker, paranoia, basement, survi...","[Mary Elizabeth Winstead, John Goodman, John G...","[{""credit_id"": ""57627624c3a3680682000872"", ""de..."
779,779,9009,Dark Water,Dahlia Williams and her daughter Cecelia move ...,"[Drama, Horror, Thriller]","[based on novel, water, remake, teacher, divor...","[Jennifer Connelly, John C. Reilly, Tim Roth]","[{""credit_id"": ""54144d3ac3a3687dc1001cb6"", ""de..."
610,610,188207,The Legend of Hercules,"In Ancient Greece 1200 B.C., a queen succumbs ...","[Action, Adventure]","[mythology, zeus, ancient greece, demigod, cit...","[Kellan Lutz, Liam McIntyre, Gaia Weiss]","[{""credit_id"": ""52fe4d329251416c75133441"", ""de..."

In [84]:
# function to extract only the Director's name

def fetch_director(obj):
    L = []
    for i in ast.literal_eval(obj):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return L

In [85]:
movies['crew'] = movies['crew'].apply(fetch_director)

In [86]:
movies.overview[0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization.'

In [87]:
#function to split the string by space with a comma
movies['overview'] = movies['overview'].apply(lambda x : x.split())

In [88]:
movies.sample(5)

,index,id,title,overview,genres,keywords,cast,crew
3128,3129,283671,Jungle Shuffle,"[In, this, turbulent, jungle, adventure, an, o...","[Family, Animation, Adventure]","[poacher, jungle]","[Drake Bell, Rob Schneider, Brianne Siddall]",[Taedong Park]
1726,1726,11780,Rob Roy,"[In, the, highlands, of, Scotland, in, the, 17...",[Adventure],"[scotland, biography, 18th century, highlands,...","[Liam Neeson, Jessica Lange, John Hurt]",[Michael Caton-Jones]
261,261,1571,Live Free or Die Hard,"[John, McClane, is, back, and, badder, than, e...","[Action, Thriller]","[usa, washington d.c., helicopter, hostage, fb...","[Bruce Willis, Justin Long, Timothy Olyphant]",[Len Wiseman]
1174,1174,323675,Ride Along 2,"[As, his, wedding, day, approaches,, Ben, head...","[Action, Comedy]","[police, sequel, police officer, brother-in-la...","[Kevin Hart, Ice Cube, Olivia Munn]",[Tim Story]
1922,1922,10655,Gettysburg,"[Summer, 1863., The, Confederacy, pushes, nort...","[War, Drama, History]","[civil war, independence, troops, army, battle...","[Jeff Daniels, Tom Berenger, Martin Sheen]",[Ronald F. Maxwell]

**Step 7**: remove the space from all the strings except title

In [89]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [90]:
movies['cast'] = movies['cast'].apply(collapse)
movies['crew'] = movies['crew'].apply(collapse)
movies['genres'] = movies['genres'].apply(collapse)
movies['keywords'] = movies['keywords'].apply(collapse)

In [91]:
movies.sample(10)

,index,id,title,overview,genres,keywords,cast,crew
4788,4791,157185,Tin Can Man,"[Recently, dumped, by, his, girlfirend, for, a...",[Horror],[homeinvasion],"[MichaelParle, EmmaElizaRegan, PatrickO'Donnell]",[IvanKavanagh]
4577,4580,64499,Quinceañera,"[As, Magdalena's, 15th, birthday, approaches,,...",[Drama],[],"[EmilyRios, JesseGarcia, ChaloGonzález]",[RichardGlatzer]
1661,1661,9989,Antitrust,"[A, computer, programmer's, dream, job, at, a,...","[Action, Crime, Drama]","[technology, garage, hacker, malefriendship, m...","[RyanPhillippe, RachaelLeighCook, TimRobbins]",[PeterHowitt]
1768,1768,5126,Martian Child,"[A, recently-widowed,, science, fiction, write...",[Drama],"[underdog, adoption, education, adoptivefather...","[JohnCusack, BobbyColeman, AmandaPeet]",[MennoMeyjes]
658,658,10483,Death Race,"[Terminal, Island,, New, York:, 2020., Overcro...","[Action, Thriller, ScienceFiction]","[carrace, dystopia, matteroflifeanddeath, pris...","[JasonStatham, JoanAllen, IanMcShane]",[PaulW.S.Anderson]
4012,4013,24748,Hud,"[Hud, Bannon, is, a, ruthless, young, man, who...","[Action, Drama, Western]","[alcoholism, ranchers, rancher, rebelliousyouth]","[PaulNewman, MelvynDouglas, PatriciaNeal]",[MartinRitt]
2925,2926,687,Dead Man Walking,"[A, justice, drama, based, on, a, true, story,...",[Drama],"[prison, rape, sociallydeprivedfamily, penalty...","[SusanSarandon, SeanPenn, RobertProsky]",[TimRobbins]
4301,4303,310569,The Second Mother,"[After, leaving, her, daughter, Jessica, in, a...",[Drama],"[brazilian, brazil, pool, motherdaughterrelati...","[ReginaCasé, MichelJoelsas, CamilaMárdila]",[AnnaMuylaert]
3855,3856,252360,In the Name of the King III,"[Hazen, Kaine,, an, American, contract, killer...","[Action, Adventure, Drama, Fantasy]",[basedonvideogame],"[DominicPurcell, RalitsaPaskaleva, BasharRahal]",[UweBoll]
2946,2947,30973,The Visual Bible: The Gospel of John,"[A, word, for, word, depiction, of, the, life,...","[Drama, History]","[miracle, jesuschrist, lastsupper, bible, chri...","[ChristopherPlummer, HenryIanCusick, StuartBunce]",[PhilipSaville]

**Step 8**: combine columns into one column named 'tags'

In [92]:
movies['tags'] = movies['overview']+movies['genres']+movies['keywords']+movies['cast']+movies['crew']

I create a new data frame with id, title and tags columns.

In [93]:
new_df = movies[['id','title','tags']].copy()

new_df['tags'] = new_df['tags'].apply(lambda x :" ".join(x))

In [94]:
new_df['tags'][0]

'In the 22nd century, a paraplegic Marine is dispatched to the moon Pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. Action Adventure Fantasy ScienceFiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d SamWorthington ZoeSaldana SigourneyWeaver JamesCameron'

**Step 9**: tokenization of column 'tags'

In [95]:
cv = CountVectorizer(max_features=5000 ,stop_words='english')

In [96]:
vectors = cv.fit_transform(new_df['tags']).toarray()

In [97]:
vectors.shape

(4800, 5000)

In [98]:
vectors[:10]

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [99]:
cv.get_feature_names_out()

array(['000', '007', '10', ..., 'zone', 'zoo', 'zooeydeschanel'],
      dtype=object)

These are the words used on the tags for each movie.

**Step 10**: now we want to compare the different tags to find out those that are similar.

Cosine similarity allows you to measure the similarity of the documents. It will be a value between [0,1]. If it is 0 then both vectors are complete different. But in the place of that if it is 1, It will be completely similar.

Fuente: https://www.datasciencelearner.com/sklearn-cosine-similarity-implementation/

In [100]:
similarity = cosine_similarity(vectors)
similarity.shape

(4800, 4800)

In [101]:
similarity[0] # similarity between the label of the first film and the other films, one by one.

array([1.        , 0.08980265, 0.05986843, ..., 0.02457366, 0.02777778,
       0.        ])

In [102]:
print('The six tags with the greatest similarity to the first are:')
sorted(list(enumerate(similarity[0])),reverse =True , key = lambda x:x[1])[1:6]

The six tags with the greatest similarity to the first are:

[(539, 0.25724787771376323),
 (1191, 0.2545875386086578),
 (507, 0.24948506639458295),
 (1213, 0.24595492912420727),
 (260, 0.2434322477800738)]

**Step 11**: create a recommendation function based on the cosine_similarity.

In [103]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0] ##fetching the movie index
    distances = similarity[movie_index]
    movie_list = sorted(list(enumerate( distances)),reverse =True , key = lambda x:x[1])[1:6]
    
    for i in movie_list:
        print(new_df.iloc[i[0]].title)

In [104]:
movie=new_df['title'][3]
print('The top six recommended movies for a person who likes', movie ,'are:')
recommend(movie)

The top six recommended movies for a person who likes The Dark Knight Rises are:
The Dark Knight
Batman Begins
Batman Returns
Batman Forever
Batman

Seems to be a good fit with reality !